{
  "hosts": [
    ["http://example.org/", "Example"]
  ],
  "stats_file": "stats",
  "mail_command": "# {}",
  "template_file": "template-en.html",
  "title": "Status: Foobar",
  "refresh_interval": 30,
  "display_downtimes": true,
  "date_format": "%d.%m.%Y %H:%M",
  "downtimes": {
    "197001010000": "Example Downtime"
  }
}
