<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>

    <meta http-equiv="refresh" content="5" />

    <style type="text/css">
      body {
        font-family: Helvetica;
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Stand: {{ time }}</p>

    <h3>Current Status</h3>
    <table>
      {% for host in status %}
        <tr>
          <th style="padding: 7px; border-radius: 9px; background: {% if host.status %}#00FF00{% else %}red{% endif %};">{% if host.status %}OK{% else %}CRITICAL{% endif %}</th>
          <td style="padding-left: 20px;">{{ host.host }}</td>
        </tr>
      {% endfor %}
    </table>

    <h3>Average availability</h3>
    <p>Since {{ stats_first }}</p>
    <table style="width: 100%;">
      <tr>
        <th style="text-align: left;">Service</th>
        <th>12h</th>
        <th>1d</th>
        <th>1w</th>
        <th>30d</th>
        <th>90d</th>
        <th>365d</th>
      </tr>
      {% for host in status %}
        <tr>
          <th style="text-align: left;">{{ host.host }}</th>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.hd) }}%</td>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.d) }}%</td>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.w) }}%</td>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.m) }}%</td>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.mm) }}%</td>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.y) }}%</td>
        </tr>
      {% endfor %}
    </table>

    <p style="font-size: 15px;">Powered by <a href="https://github.com/wichmannpas/simple_status">Simple Status</a>.</p>
  </body>
</html>
