<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>

    <meta http-equiv="refresh" content="{{ refresh_interval }}" />

    <style type="text/css">
      body {
        font-family: Helvetica;
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Stand: {{ time }}</p>

    <h3>Aktuelle Erreichbarkeit</h3>
    <table>
      {% for host in status %}
        <tr>
          <th style="padding: 7px; border-radius: 9px; background: {% if host.status %}#00FF00{% else %}red{% endif %};">{% if host.status %}OK{% else %}CRITICAL{% endif %}</th>
          <td style="padding-left: 20px;">{{ host.host }}</td>
        </tr>
      {% endfor %}
    </table>

    <h3>Durchschnittliche Erreichbarkeit</h3>
    <p>Seit {{ stats_first }}</p>
    <table style="width: 100%;">
      <tr>
        <th style="text-align: left;">Dienst</th>
        <th>12h</th>
        <th>1d</th>
        <th>1w</th>
        <th>30d</th>
        <th>90d</th>
        <th>365d</th>
      </tr>
      {% for host in status %}
        <tr>
          <th style="text-align: left;">{{ host.host }}</th>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.hd) }}%</td>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.d) }}%</td>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.w) }}%</td>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.m) }}%</td>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.mm) }}%</td>
          <td style="text-align: center;">{{ '{:.2f}'.format(host.stats.y) }}%</td>
        </tr>
      {% endfor %}
    </table>

    {% if display_downtimes %}
      <h3>Bisherige Downtimes</h3>
        <table style="width: 100%; border-collapse: collapse;">
          <tr>
            <th></th>
            <th>Beginn</th>
            <th>Ende</th>
            <th>Grund</th>
          </tr>
          {% for host in downtimes %}
            <tr style="border-left: 1px solid black; border-top: 1px solid black; border-right: 1px solid black;{% if host.downtimes|length == 1%}border-bottom: 1px solid black;{% endif %}">
              <th rowspan="{% if host.downtimes|length == 0 %}1{% else %}{{ host.downtimes|length }}{% endif %}" style="border-bottom: 1px solid black; border-right: 3px solid gray;">
                {{ host.host }}
              </th>
            {% if host.downtimes|length == 0 %}
                <td colspan="3" style="border-bottom: 1px solid black; border-right: 1px solid black;">
                  <em>keine Downtimes bekannt.</em>
                </td>
            {% else %}
              {% for downtime in host.downtimes %}
                <td style="text-align: center;">
                  {{ downtime.0 }}
                </td>
                <td style="text-align: center;">
                  {% if downtime.1 == None %}
                    <em>andauernd</em>
                  {% else %}
                    {{ downtime.1 }}
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if downtime.2 == None %}
                    <em>unbekannt</em>
                  {% else %}
                    {{ downtime.2 }}
                  {% endif %}
                </td>
                {% set counter = loop.index + 1 %}
            </tr><tr style="border-left: 1px solid black; border-right: 1px solid black;{% if counter >= host.downtimes|length %}border-bottom: 1px solid black;{% endif %}">
              {% endfor %}
            {% endif %}
            </tr>
          {% endfor %}
        </table>
    {% endif %}

    <p style="font-size: 15px;">Powered by <a href="https://github.com/wichmannpas/simple_status">Simple Status</a>.</p>
  </body>
</html>
